BaseCircle/vc10/Debug/
BaseCircle/vc10/Release/
BaseCircle/vc10/ipch/
*.obj
*.bin
*.pch
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.vcxproj.filters
*.tlog
*.log
.DS_Store
*.xc*
*.embed
*.unsuccessfulbuild
*.idb
*.pdb
*.ipch

