BaseCircle/vc10/Debug/
BaseCircle/vc11/Debug/
BaseCircle/vc10/Release/
BaseCircle/vc10/ipch/
*.obj
*.bin
*.pch
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.vcxproj.filters
*.tlog
*.log
.DS_Store
*.xc*
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.unsuccessfulbuild
*.idb
*.pdb
*.ipch
*.lastbuildstate
